.report_title
{
	font-size: 16px;
	font-weight: bolder;
}


.report_footer {
	color: black;
	background-color: #DEDEDE;
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 3px solid #C1DAD7;
	padding: 3px 5px;
	text-align: center;
}

.button_navi{
	background-color: gray; 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6fd9fc), color-stop(1, #50b7dc));
	background:-moz-linear-gradient(top, silver 5%, gray 100%);
	background:-webkit-linear-gradient(top, silver 5%, gray 100%);
	background:-o-linear-gradient(top, silver 5%, gray 100%);
	background:-ms-linear-gradient(top, silver 5%, gray 100%);
	background:linear-gradient(to bottom, silver 5%, gray 100%);
	
	padding:0px 18px;
	color: white;
}

.button_navi:disabled{
	background-color: gray; 
	background: silver;
	padding:0px 18px;
	color: #DEDEDE;
}

.report_header
{ 

	font: 14px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;
	color: #6D929B;
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-align: left;
	padding: 6px 4px 6px 6px;
	background: #CAE8EA url(/images/table/bg_header.jpg) no-repeat;

}

.report_header a
{ 
	font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;

}

.report_header a:hover
{ 
	font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;

}

.link_header
{ 

  
  	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #426177;
	text-decoration: none;

}

.link_header:hover
{ font-family: Arial, Verdana, Haettenschweiler; 
  font-size: 10px; 
  color:#6291A7;
}

.report_highlight{ font-family: Arial, Verdana, Haettenschweiler; 
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fee;
	padding: 6px 6px 6px 12px;
	color: #262a2c;
}

TR.report_highlight > TD {
	border-bottom: solid 1px #CDCDCD;
}


.report_complete{ font-family: Arial, Verdana, Haettenschweiler; 
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #eef;
	padding: 6px 6px 6px 12px;
	color: #262a2c;
}

TR.report_complete > TD {
	border-bottom: solid 1px #CDCDCD;
}


.report_even{ font-family: Arial, Verdana, Haettenschweiler; 
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #262a2c;
}

TR.report_even > TD {
	border-bottom: solid 1px #CDCDCD;
}

.report_cell{
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	padding-left: 4px;
	padding-right: 4px;	
	padding-top: 2px;
	padding-bottom: 2px;	
	font-size: 12px;
	
}


.report_cell2{
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	padding: 4px;
	font-size: 14px;
	
}

.report_odd{ font-family: Arial, Verdana, Haettenschweiler; 
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #F5FAFA;
	padding: 6px 6px 6px 12px;
	color: #262a2c;

}
TR.report_odd > TD {
	border-bottom: solid 1px #CDCDCD;
}

a {
color: # 232300;
}


.report_odd:hover {
	font-family: Arial, Verdana, Haettenschweiler; 

	color:black;
	background-color: #ddf2f9;

}

.report_even:hover {
	font-family: Arial, Verdana, Haettenschweiler; 

	color:black;
	background-color: #ddf2f9;

}


.report_table_wrapper{
	width: 100%;
}



@media only screen and (max-device-width: 360px) {
	.mobile_column{
		display:none;
	}

}




